
@{
    ViewData["Title"] = "Confirmation";
}

<link rel="stylesheet" href="./wwwroot/assets/bootstrap/css/bootstrap.min.css">

<div class="container">

    <div class="align-self-center m-5" id="fondo">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <br>
                    <div class="company_detail">
                        <!-- <h4 class="logo"><img src="assets/images/logo.svg" alt=""> Alpino</h4> -->
                        <div>
                           
                            <img src="original_transparente.png" />"" class="circulo" alt="...">
                        </div>

                        <h3 class="text-reset"><strong>Parquimetros.</strong></h3>
                        <p>Recibió este correo electrónico porque recientemente creó una nueva cuenta de <strong>easyPago</strong> o agregó una nueva dirección de correo electrónico. Si no eras tú, ignora este correo electrónico.</p>
                        <div class="footer">
                            <hr>

                            <div class=" ">
                                <div>
                                    <a href="javascript:void(0); ">Contactanos</a>
                                </div>
                                <div>
                                    <a href="javascript:void(0); ">Acerca de nosotros</a>
                                </div>
                            </div>

                            <hr>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="container ">
            <div class="col-md-12 content-center ">
                <div class="row ">
                    <div class="col-md-12 text-center ">

                        <div class="card-plain ">
                            <h5>Correo confirmado correctamente</h5>
                            <div class="form-group ">
                                <div>
                                    Su correo ha sido confirmado. Haga clic <a class="link " href="https://localhost:44338/Home/Salir "> aqui para iniciar sesion</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>