
@model WebApiParquimetros.ViewModels.ResetPasswordViewModel

@{
    Layout = null;
    ViewData["Title"] = "Establezca contraseña";
}

<!doctype html>
<html class="no-js " lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">

    <title>Establecer contraseña</title>
    <!-- Favicon-->
    <link rel="icon" href="~/assets/images/LogoRE.png" type="image/x-icon">
    @*<link rel="icon" href="favicon.ico" type="image/x-icon">*@
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">

    <!-- Custom Css -->
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="stylesheet" href="~/assets/css/color_skins.css">
    <link href="~/assets/plugins/sweetalert/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/css/Loader.css" />

</head>



<body class="theme-black">
    <div class="authentication">
        <div class="container">
            <div class="col-md-12 content-center">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="company_detail">
                            @*<h4 class="logo"><img src="assets/images/logo.svg" alt=""> Alpino</h4>*@
                            <h3>Recargas <strong>electronicas</strong>.org</h3>
                            <p>Recarga de tiempo aire y pagos de servicios.</p>
                            <div class="footer">
                                <ul class="social_link list-unstyled">
                                    @*<li><a href="https://thememakker.com" title="ThemeMakker"><i class="zmdi zmdi-globe"></i></a></li>*@
                                    @*<li><a href="https://themeforest.net/user/thememakker" title="Themeforest"><i class="zmdi zmdi-shield-check"></i></a></li>*@
                                    @*<li><a href="https://www.linkedin.com/company/thememakker/" title="LinkedIn"><i class="zmdi zmdi-linkedin"></i></a></li>*@
                                    <li><a href="https://www.facebook.com/recargas.electronicas.com.mx/" title="Facebook"><i class="zmdi zmdi-facebook"></i></a></li>
                                    <li><a href="https://twitter.com/recargascelular" title="Twitter"><i class="zmdi zmdi-twitter"></i></a></li>
                                    @*<li><a href="http://plus.google.com/+thememakker" title="Google plus"><i class="zmdi zmdi-google-plus"></i></a></li>*@
                                    <li><a href="https://www.instagram.com/recargascelular/" title="Behance"><i class="zmdi zmdi-instagram"></i></a></li>
                                </ul>
                                <hr>
                                <ul>
                                    <li><a href="javascript:void(0);">Contactanos</a></li>
                                    <li><a href="javascript:void(0);">Acerca de nosotros</a></li>
                                    @*<li><a href="http://thememakker.com/services/" target="_blank">Services</a></li>*@
                                    <li><a href="javascript:void(0);">FAQ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12 offset-lg-1">
                        <div class="card-plain">
                            <div class="header">
                                <h5>Establezcer contraseña</h5>
                                @*<span>Reestablezca su contraseña</span>*@
                            </div>
                            <form asp-controller="Cuentas" asp-action="EstablecePassword" method="post" class="form-horizontal" role="form">
                                <div class="input-group" style="display:none;">
                                    @Html.EditorFor(model => model.strCorreo, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="input-group" style="display:none;">
                                    @Html.EditorFor(model => model.recToken, new { htmlAttributes = new { @class = "form-control" } })
                                </div>

                                <div class="input-group">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Crear contraseña" } })
                                    <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                                </div>

                                <div class="input-group">
                                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Confimar contraseña" } })
                                    <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                                </div>

                                <div class="footer">
                                    <button type="submit" class="btn btn-primary btn-round btn-block" tabindex="3">Crear contraseña</button>
                                </div>
                            </form>
                            <a class="link" href="https://localhost:44338/Home/Salir">Ya eres miembro?</a>
                            <div id="divError" class="alert alert-danger collapse">
                                <a id="linkClose" href="#" class="close">&times;</a>
                                <div id="divErrorText"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Jquery Core Js -->
    <script src="~/assets/bundles/libscripts.bundle.js"></script>
    <script src="~/assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
    <script src="~/js/Validacion.js"></script>
    <script src="~/assets/plugins/sweetalert/sweetalert2.min.js"></script>



</body>
</html>
