<!doctype html>
<html class="no-js " lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">

    <title>Confirmacion de correo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
        .circulo {
            width: 15rem;
            height: 15rem;
            border-radius: 30%;
        }

        .blue {
            background-color: blue;
        }

        #fondo {
            background-color: #002F6C;
            background-position: 50% 0;
            background-repeat: no-repeat;
            color: aliceblue;
        }

        a {
            color: #F43A0F;
        }

        div.hr {
            border-top: 1px dashed #000;
        }
    </style>

</head>



<body>
    <div class="container">

        <div class="align-self-center m-5" id="fondo">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <br>
                        <div class="company_detail">
                            <!-- <h4 class="logo"><img src="assets/images/logo.svg" alt=""> Alpino</h4> -->
                            <div>
                                @*<img src="~/assets/imagen/original_transparente.png" class="circulo" alt="...">*@
                            </div>
                            <a href="javascript:void(0); "><h1>EsyPago</h1></a>
                            <h3 class="text-reset">Parquimetros.</h3>
                           
                            <div class="footer">
                                <hr>

                                <div class=" ">
                                    <div>
                                        <a href="javascript:void(0); ">Contactanos</a>
                                    </div>
                                    <div>
                                        <a href="javascript:void(0); ">Acerca de nosotros</a>
                                    </div>
                                </div>

                                <hr>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="container ">
                <div class="col-md-12 content-center ">
                    <div class="row ">
                        <div class="col-md-12 text-center ">

                            <div class="card-plain ">
                              
                                <div class="form-group ">
                                    <div>
                                        Contraseña reestablecida. @*Haga clic  <a class="link" href="https://localhost:44338/Home/Salir">aqui para iniciar sesion</a>*@
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</html>